# Node.js
node_modules/
npm-debug.log*
package-lock.json
.env

# Cypress
cypress/screenshots/
cypress/videos/
cypress/downloads/

# Mochawesome reports
cypress/reports/
mochawesome-report/
*.html

# IDEs
.vscode/

